body {
    background-image: url("../images/sport_background.jpg");
    min-height: 100vh;
}

.inner-main-container {
    min-height: calc(100vh - 105px);
}

.select_btn {
    display: None;
}

#select_row .col-1 {
    text-align: right;
    vertical-align: middle;
}

#select_row .date-select {
    color: Red;
    text-align: left;
}

#activity-table tbody {
    height: calc(100vh - 360px);
    overflow-y: auto;
    width: 100%;
}

#activity-table thead,
#activity-table tbody,
#activity-table tfoot,
#activity-table tr,
#activity-table td,
#activity-table th {
    display: block;
}

#activity-table tbody td,
#activity-table tbody th,
#activity-table tfoot > tr > th,
#activity-table thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

#portionTable tbody .form-group {
    margin-bottom: 0px;
}
