{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Activity {% endblock %}

{% block content %}
<h2>Activity</h2>
<form method="post">
    {% csrf_token %}
    Day1: <input type="date" name="bday">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Sport</th>
                    <th>Duration [min]</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for activity in activities %}
            <tr>
                <td>{{ activity.Sport.name }}</td>
                <td>{{ activity.duration }}</td>
                <td>{{ activity.date|date:'m-d-y' }}</td>
                <td><button type="Submit" name="edit" value="{{ activity.id}}" class="btn btn-outline-primary btn-sm">Edit</button></td>
                <td><button type="Submit" name="del" value="{{ activity.id}}" class="btn btn-outline-danger btn-sm">Del</button></td>
            </tr>
            {% endfor %}
            <tr>
                <td>{{ form.sport }}</td>
                <td>{{ form.duration|as_crispy_field }}</td>
                <td><input type="date" name="date" value='{{ form.date|as_crispy_field }}'></td>
                <td><button type="Submit" name="add" class="btn btn-success">Add</button></td>
            </tr>
        </table>
    </div>
</form>
{% endblock %}