{% extends "base.html" %}

{% block title %} Activity {% endblock %}

{% block content %}
<h2>Activity</h2>
<form method="post">
    {% csrf_token %}
    <table style="100%">
        <tr>
            <th>Sport</th>
            <th>Duration</th>
            <th>Date</th>
        </tr>
        {% for activity in activities %}
        <tr>
            <td>{{ activity.Sport.name }}</td>
            <td>{{ activity.duration }}</td>
            <td>{{ activity.start|date:'m-d' }}</td>
            <td><button type="Submit" name="edit" value="{{ activity.id}}" id="edit_{{ activity.id}}">Edit</button></td>
            <td><button type="Submit" name="del" value="{{ activity.id}}" id="del_{{ activity.id}}">Del</button></td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="Submit" id="add">Add</button></td>
        </tr>
    </table>
</form>
{% endblock %}