{% extends "base.html" %}

{% block title %} Activity {% endblock %}

{% load crispy_forms_tags %}

{% block link_scripts %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block content %}
<h2 class="ml-1">Activity</h2>

<form method="post">
    {% csrf_token %}
    <div class="container mt-2">
        <div class="form-row mt-2">
            <div class="col-1 text-right p-2">
                <label>From</label>
            </div>
            <div class="col-2 date-select">
                {{ form.from_date|as_crispy_field }}
            </div>
            <div class="col-1 text-right p-2">
                <label>To</label>
            </div>
            <div class="col-2 date-select">
                {{ form.to_date|as_crispy_field }}
            </div>
            <div class="col-5 text-right">
                <label>Average calories per day: <strong>{{ avg_cal }}</strong></label>
            </div>
            <button type="Submit" name="select" class="select_btn">Select</button>
        </div>

        <div class="row bg-white rounded shadow mt-2">
            <div class="table-responsive m-0">
                <table id="activity-table" class="table m-0">
                    <thead>
                        <tr>
                            <th scope="col" class="col-2">#</th>
                            <th scope="col" class="col-2">Sport</th>
                            <th scope="col" class="col-2">Duration [min]</th>
                            <th scope="col" class="col-2">Date [mm-dd-yyyy]</th>
                            <th scope="col" class="col-2">Calories [kcal]</th>
                            <th scope="col" class="col-1 text-center">Edit</th>
                            <th scope="col" class="col-1 text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in activities %}
                        <tr>
                            <th scope="row" class="col-2">{{ forloop.counter }}</th>
                            <td class="col-2">{{ activity.Sport }}</td>
                            <td class="col-2">{{ activity.duration }}</td>
                            <td class="col-2">{{ activity.date|date:'m-d-Y' }}</td>
                            <td class="col-2">{{ activity.calories }}</td>
                            <td class="col-1 text-center">
                                <button type="Submit" name="edit" value="{{ activity.id}}" class="btn btn-outline-primary btn-sm">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td class="col-1 text-center">
                                <button type="Submit" name="del" value="{{ activity.id}}" class="btn btn-outline-danger btn-sm">
                                    <i class="fa fa-trash fa-lg"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row" class="col-2"></th>
                            <th class="col-2">{{ form.sport }}</th>
                            <th class="col-2">{{ form.duration }}</th>
                            <th class="col-2">{{ form.date }}</th>
                            <th class="col-2"></th>
                            <th class="col-1 text-center">
                                <button type="Submit" name="add" class="btn btn-success btn-sm">
                                    <i class="fa fa-plus fa-lg"></i>
                                </button>
                            </th>
                            <th class="col-1"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</form>
{% endblock %}

