<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block link_scripts %}{% endblock %}

    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="ml-2">
            <a href="{% url 'fitness_app:index'%}"><img src="{% static 'images/barbell_small.png' %}" alt="Logo"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            </ul>

            <div class="nav-item">
                <a class="nav-link" href="{% url 'fitness_app:index'%}">Home <span class="sr-only">(current)</span></a>
            </div>
            {% if user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'fitness_app:settings' %}">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'fitness_app:logout' %}">Logout</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'fitness_app:activity'%}">Activity</a>
                </div>
                <div class="nav-item mr-4">
                    <a class="nav-link" href="{% url 'fitness_app:meals'%}">Meals</a>
                </div>
            {% endif %}
        </div>
    </nav>

    <div class="main-container container-fluid view-container px-3 pt-3">
        <div class="inner-main-container container-fluid view-container rounded shadow p-1">
            <div class="col-md-12 pt-3 pb-2">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="footer page-content mt-1">
            <div class="container">
                <div class="text-center text-white mb-0">
                    <div style="display: inline-block" class="text-center bg-dark px-2">
                        © 2019-2020 MyFit
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>