<!DOCTYPE html>
<html lang="en">
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block link_scripts %}{% endblock %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{% url 'fitness_app:index'%}">
            <img src="{% static 'images/barbell_small.png' %}" alt="Logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="nav-item">
                <a class="nav-link" href="{% url 'fitness_app:index'%}">Home <span class="sr-only">(current)</span></a>
            </div>
            <div class="nav-item lg">
                <a class="nav-link" href="{% url 'fitness_app:activity'%}">Activity</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="{% url 'fitness_app:settings'%}">Settings</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid px-3 py-3" style="background-color:#23a5f6; height: 100%; min-height: 100%">
        <div class="row justify-content-center mx-0">
            <div class="col-md-12" style="background-color:#b6e1fc">
                <div class="col-md-12">
                    <div class="my-2">
                        {% block content %}{% endblock %}
                    </div>
            </div>
        </div>
    </div>

    {% block scripts %}
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
</body>
</html>