<!DOCTYPE html>
<html lang="en">

{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block link_scripts %}{% endblock %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{% url 'fitness_app:index'%}">
            <img src="{% static 'images/barbell_small.png' %}" alt="Logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>

            {% if user.is_authenticated %}
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'fitness_app:index'%}">Home <span class="sr-only">(current)</span></a>
                </div>
                <div class="nav-item lg">
                    <a class="nav-link" href="{% url 'fitness_app:activity'%}">Activity</a>
                </div>
                <div class="nav-item lg">
                    <a class="nav-link" href="#">Meals</a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'fitness_app:settings' %}">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'fitness_app:logout' %}">Logout</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>

    <div class="container-fluid view-container px-3 py-3 main-container">
        <div class="row justify-content-center mx-0" style="background-color:#b6e1fc">
            <div class="col-md-12">
                <div class="my-2">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block scripts %}
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
</body>
</html>