{% extends "base.html" %}

{% block title %} Fitness Manager {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hello {{ user.username }}!
    ID {{ user.id }}
    <p><a href="{% url 'fitness_app:logout' %}">logout</a></p>
    <p><a href="{% url 'fitness_app:settings' %}">settings</a></p>
    <p><a href="{% url 'fitness_app:activity' %}">activity</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'fitness_app:login' %}">login</a><br>
    <a href="{% url 'fitness_app:register' %}">register</a>

{% endif %}
{% endblock %}
