{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Meals of the day {% endblock %}


{% block content %}

<h2> Meals of the day {{ meals_date }} </h2>

<form method="post">
    {% csrf_token %}

    <div class="container col-6 mt-3">
        <div class="row">
        {{ metadata_form }}
            <div class="col-8 text-left">
            {{ meals_formset.management_form }}
                <div class="btn-group bg-light rounded shadow" role="group">
                    {% for m_form in meals_formset %}
                        <button type="Submit" name="choose_meal" value="{{ m_form.id.value }}"
                                class="btn
                                {% if m_form.is_to_highlight %}
                                    btn-dark
                                {% else %}
                                    btn-outline-dark
                                {% endif %}">
                            {{ m_form.time.value }}
                        </button>
                        {{ m_form.time }}
                        {{ m_form.id }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-4 text-right">
                <button type="button" id="add_portion" class="btn btn-success  mr-2">
                    <span class="fa fa-plus fa-lg"></span>
                </button>
                <button type="button" id="del_meal" class="btn btn-danger ">
                    <span class="fa fa-close fa-lg"></span>
                </button>
            </div>
        </div>

        <div class="container bg-white rounded shadow mt-4 p-1">
            <table id="portionTable" class="table table-striped table-bordered table-sm m-0">
                <col width="16%">
                <col width="26%">
                <col width="26%">
                <col width="16%">
                <col width="16%">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle">#</th>
                        <th scope="col" class="align-middle">Food</th>
                        <th scope="col" class="align-middle">Weight [grams]</th>
                        <th scope="col" class="align-middle">Calories [kcal]</th>
                        <th scope="col" class="align-middle text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {{ portions_formset.management_form }}
                    {% for p_form in portions_formset %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ p_form.food|as_crispy_field }}</td>
                            <td>{{ p_form.weight|as_crispy_field }}</td>
                            <td>{{ p_form.calories.value }}</td>
                            <td class="text-center">{{ p_form.DELETE }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="pl-2">Sum</th>
                        <td></td>
                        <td></td>
                        <td class="pl-2">{{ total_calories }}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="d-none">
            <table>
                <tbody id="empty_tr">
                    <tr id="portion-__prefix__-tr" class="portion_tr">
                        <td></td>
                        <td>{{ portions_formset.empty_form.food|as_crispy_field }}</td>
                        <td>{{ portions_formset.empty_form.weight|as_crispy_field }}</td>
                        <td></td>
                        <td class="text-center">
                            <button id="portion-__prefix__-del" type="button" class="btn btn-outline-danger btn-sm btnDelTempPortion">
                                <i class="fa fa-trash fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>

        <div class="row mt-4 mb-2">
            <div class="col-2 text-left">
                <a href="{% url 'fitness_app:meals' %}" class="btn btn-secondary">
                    <i class="fa fa-chevron-left" aria-hidden="true"><span class="ml-2">Back</span></i>
                </a>
            </div>
            <div class="col-8"></div>
            <div class="col-2 text-right">
                 <button type="Submit" name="save" class="btn btn-success">
                     <i class="fa fa-floppy-o" aria-hidden="true"><span class="ml-2">Save</span></i>
                    </button>
            </div>
        </div>
    </div>
</form>

{% endblock %}
